<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <style>
        #parent {
            display: table;
            width: 100%;
        }
        #login {
           display: table-cell;
           text-align: center;
           vertical-align: middle;
        }
    </style>
</head>
<body>
<div id="parent">
    <div id="login">
        <form action="/dms/auth/" method="post">
            <label>Login:
            <input type="text" name="username">
            </label>
            <label>>Password:
            <input type="text" name="password">
            </label>
            <input type="submit" value="Login">
        </form>
        <a href="/dms/registration/">Registration</a>
    </div>
</div>
</body>
</html>