<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<label></label>
<div class="parent">
    <div class="registration">
        <form action="/dms/reg/" method="post">
            <label>Login:
            <input type="text" name="username">
            </label>
            <label>Password:
            <input type="text" name="password">
            </label>
            <input type="submit" value="Reg">
        </form>
    </div>
</div>
</body>
</html>